.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Main */
main > * {
    display: none;
}

main > *:last-child {
    display: block;
}

@keyframes pulse {
    0% { transform: scale(1) }
    50% { transform: scale(1.05) }
    100% { transform: scale(1) }
}

@keyframes backgroundMove {
    0% { background-position: 0 0, 100% 0 }
    100% { background-position: 100% 0, 0 0 }
}

main > *:target {
    display: block;
    animation: pulse 0.5s linear 1;
}

main > *:target ~ * {
    display: none;
}

#stage {
    animation: backgroundMove 3s alternate ease-in-out infinite;
    background: url('/assets/images/autumns-demise-cropped.jpg'), url('/assets/images/autumns-demise.jpg');
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 40%;
    width: 100%;
}

table {
    text-align: left;
}