.message {
    border: 1px solid #ccc;
    border-top: none;
    color: #666;
    display: inline-block;
    opacity: 0;
    padding: 0.5em 1em;
    position: absolute;
    right: 1em;
    top: 0;
    transition: all 1s;
    transform: translateY(-100%);

    &.default {
        background-color: #f2f2f2;
        border-color: #ccc;
        color: #666;
    }
    &.error {
        background-color: #fee;
        border-color: #f66;
        color: #f33;
    }
    &.open {
        transform: translateY(0%);
        opacity: 1;
    }
}